.box{
    border: 2px solid;
    width: 23%;
    text-align: center;
    padding: 19px;
    margin-right: 25px;
    margin-top: 25px;
}
.checkbox{
    text-align: left;
	margin-left: 46px;
}
.d-flex{
    display: flex;
    border-bottom: 2px solid;
    padding: 2px;
    margin-bottom: 20px;
}
.buttons{
    margin-top: 20px;
}
#savebutton {
    margin-right: 10px;
}
.form-data{
    width: 25%;
}